* {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
/* HEADER */
.header {
  background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 110vh;
}
.nav {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  margin-right: 9%;
  align-items: center;
}
.nav__burger {
  display: none;
}
.nav__logo {
  width: 269px;
  height: 55px;
}
.nav__logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav__list {
  margin-top: 3px;
  padding-left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list-item {
  margin-right: 45px;
  transition: 1s;
}
.nav__list-item:nth-last-child(1) {
  margin-right: 0;
}
.nav__list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
}
.nav__list-item:hover {
  transform: scale(1.2);
}
.nav__contact {
  margin-top: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.nav__contant-link {
  display: flex;
  justify-content: space-between;
}
.nav__contact-img {
  margin-right: 11px;
  width: 25px;
  height: 25px;
}
.nav__contact-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.header__bottom {
  margin-top: 155px;
  width: 90%;
}
.header__text-top {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #ffffff;
}
.header__block-reserve {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.header__text-bottom {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  color: #ffffff;
}
.header__reserve-btn {
  cursor: pointer;
  padding: 38px 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  background: #3a4574;
  color: #ffffff;
}
.header__reserve-btn:hover {
  animation: bounce 1s;
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.header__reserve-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -18px;
}
.header__items-link {
  cursor: pointer;
  margin-right: 25px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.header__items-link:nth-last-child(1) {
  margin-right: 0;
}
.header__items-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #ffffff;
}
.header__items-link:hover {
  transform: scale(1.5);
}
.header__burder {
  display: none;
}
.nav__list-burger {
  display: none;
}
.pop__up {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 2;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  transform: translateY(-44.5%) scale(0);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pop__up.active {
  background-color: rgb(0, 0, 0, 0.8);
  transform: translateY(0%) scale(100%);
}
.pop__up-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.pop__up-body {
  margin: auto;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 40px 15px 40px 15px;
  position: relative;
}
.pop__up-title {
  line-height: 40px !important;
  font-size: 30px !important;
  text-align: start;
  padding-left: 20px;
}
.pop__up-block {
  display: flex;
  flex-direction: column;
}
.pop__up-close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 26px;
  cursor: pointer;
}
.pop__up-wrap {
  margin-bottom: 5px;
}
.pop__up-inp {
  max-width: 320px;
}
.pop__up-btn {
  width: 250px;
  padding: 20px 80px !important;
}
@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 50px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease-in-out 0s;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger:before,
  .header__burger:after {
    transition: all 0.3s ease-in-out 0s;
    position: absolute;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .nav__list {
    position: fixed;
    top: -100%;
    align-items: start;
    left: 0;
    width: 100%;
    height: 80%;
    flex-direction: column;
    background-color: #fff;
    padding: 50px 0;
    transition: all 0.6s ease-in-out 0s;
  }
  .nav__list.active {
    top: 20%;
    z-index: 100;
  }
  .nav__list-item {
    width: 50%;
    padding: 20px 80px;
    border-bottom: #000000 1px solid;
  }
  .nav__list-link {
    color: black;
  }
}
/* MENU */
.section {
  margin-top: 80px;
  padding-bottom: 145px;
}
.menu__block {
  display: flex;
}
.menu__block-names {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.menu__names-item {
}
.menu__item-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.menu__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-left: 2px;
  color: #000000;
}
.menu__item-block {
  align-items: center;
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 19px;
  border-bottom: 1px solid #e7e7e7;
  margin-left: -4px;
}
.menu__item-span {
  border-radius: 50%;
  background: #d3b47f;
  display: block;
  margin: 0 8px;
  width: 5px;
  height: 5px;
}
.menu__block-images {
  position: relative;
  background: url('./images/menu-bg.png');
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  width: 55%;
  padding: 0;
}
.menu__images-first {
  width: 323px;
  height: 486px;
  position: absolute;
  bottom: -65px;
  left: -10px;
}
.menu__images-second {
  position: absolute;
  top: 0px;
  right: 45px;
}
/* SLider */
.slider {
  background-color: #3a4574;
  height: 100%;
  width: 100%;
  padding-top: 228px;
  padding-bottom: 210px;
  padding-right: 6%;
}
.swiper {
  width: 85%;
  height: 100%;
}
.swiper-wrapper {
}
.swiper-slide-active {
  text-align: center;
  align-items: center;
}
.swiper-logo {
  margin-bottom: 30px;
}
.swiper-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #d3b47f;
  margin-bottom: 21px;
}
.swiper-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  width: 71%;
  margin: 0 auto;
}
.swiper-button-next:after {
  content: '' !important;
}
.swiper-button-prev:after {
  content: '' !important;
}
.swiper-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.245em;
  color: #d3b47f;
  margin-top: 34px;
}
/* Wrapper */
.wrapper {
  margin-top: 114px;
}
.wrapper__block {
  display: flex;
  margin-bottom: 30px;
}
.wrapper__block-info {
  max-width: 470px;
  padding-top: 180px;
  margin-right: 30px;
}
.wrapper__info-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  color: #000000;
  text-align: start;
  margin-bottom: 5px;
}
.wrapper__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  margin-top: 16px;
}
.wrapper__border {
  width: 108px;
  height: 2px;
  background: #d3b47f;
  margin-left: -50px;
}
.wrapper__block-img {
  max-width: 670px;
  max-height: 560px;
}
.wrapper__img {
  width: 100%;
  height: 100%;
}
.wrapper__block-info2 {
  margin-left: 30px;
}
/* Footer */
.footer {
  margin-top: 100px;
  padding-bottom: 50px;
  width: 69%;
}
.footer__feedback-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 88px;
  color: #000000;
  padding-top: 2px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: -10px;
}
.footer__contacts-logo {
  margin-right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #d3b47f;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer__contacts-block {
  display: flex;
}
.footer__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2e2e2e;
}
.footer__item-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2e2e2e;
}
.footer__contacts-block {
  margin-top: 36px;
}
.footer__feedback-wrap {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.footer__feedback-wrap {
  margin-bottom: 22px;
}
.footer__feedback-wrapper {
  margin-top: 20px;
}
.footer__feedback-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-left: 0px;
}
.footer__feedback-inp {
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px;
  width: 320px;
  height: 80px;
  border: 1px solid #cccccc;
}
.footer__feedback-inp::placeholder {
  color: #808080;
}
.footer__button {
  margin-top: 20px;
  background: #3a4574;
  padding: 38px 104px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.footer__input {
  width: 670px;
  height: 125px;
  padding-bottom: 40px;
}
.footer__bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
}
.footer__items-link {
  border: 1px solid #000000;
}
.footer__items-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}
@media (max-width: 1440px) {
  .footer__map {
    max-width: 1220px;
    max-height: 600px;
  }
  .slider {
    padding-right: 0;
  }
  .wrapper__block {
    justify-content: space-between;
  }
  .footer {
    width: 90%;
  }
  .menu__block {
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .footer__map {
    max-width: 620px;
    max-height: 400px;
  }
  .header {
    height: 100%;
    padding-bottom: 100px;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 90%;
  }
  .header__bottom {
    margin-top: 70px;
  }
  .header__text-top {
    font-size: 20px;
    line-height: 24px;
  }
  .header__text-bottom {
    font-size: 48px;
    line-height: 60px;
  }
  .header__reserve-btn {
    padding: 28px 48px;
  }
  .nav__list {
    height: 70%;
  }
  .menu__images-second {
    width: 50%;
  }
  .menu__block {
    justify-content: space-between;
  }
  .menu__images-second {
    top: -50px;
  }
  .menu__item-text {
    font-size: 14px;
    line-height: 20px;
  }
  .menu__images-first {
    width: 50%;
    height: 50%;
    bottom: 0px;
  }
  .swiper-logo {
    width: 60px;
  }
  .swiper-title {
    font-size: 24px;
    line-height: 28px;
  }
  .swiper-text {
    font-size: 14px;
    line-height: 28px;
  }
  .swiper-name {
    font-size: 18px;
    line-height: 28px;
  }
  .wrapper__info-title {
    font-size: 34px;
    line-height: 68px;
  }
  .wrapper__block-info {
    padding-top: 80px;
  }
  .footer__block {
    flex-direction: column;
  }
  .footer__contacts {
    margin-bottom: 40px;
  }
  .footer__input {
    width: 700px;
  }
  .footer__button {
    padding: 30px 80px;
  }
}
@media (max-width: 768px) {
  .footer__map {
    max-width: 420px;
    max-height: 300px;
  }
  .header {
    height: 100%;
    padding-bottom: 100px;
  }
  .header__text-top {
    font-size: 18px;
    line-height: 18px;
  }
  .header__text-bottom {
    font-size: 32px;
    line-height: 44px;
  }
  .header__reserve-btn {
    padding: 22px 38px;
  }
  .header__items-link {
    min-width: 44px;
    min-height: 44px;
  }
  .header__items-text {
    font-size: 14px;
    line-height: 20px;
  }
  .menu__block-names {
    width: 50%;
  }
  .menu__block-images {
    width: 40%;
  }
  .menu__images-second {
    top: 50px;
  }
  .menu__images-first {
    width: 70%;
    height: 50%;
  }
  .menu__images-second {
    width: 60%;
    height: 50%;
  }
  .menu__images-second {
    right: 0px;
    top: -10px;
  }
  .swiper {
    width: 100%;
  }
  .wrapper__block-info {
    max-width: 350px;
    padding-top: 25px;
  }
  .wrapper__info-title {
    font-size: 28px;
    line-height: 60px;
  }
  .wrapper__info-text {
    font-size: 14px;
    line-height: 26px;
  }
  .footer__feedback-title {
    font-size: 40px;
    line-height: 50px;
  }
  .footer__item-text {
    font-size: 16px;
    line-height: 26px;
  }
  .footer__item-title {
    font-size: 14px;
  }
  .footer__feedback-block {
    flex-direction: column;
  }
  .footer__input {
    width: 480px;
  }
  .footer__feedback-inp {
    width: 480px;
  }
  .footer__button {
    padding: 20px 68px;
  }
  .footer__bottom {
    align-items: center;
    flex-direction: column;
  }
  .header__reserve-items {
    margin-top: 30px;
    width: 50%;
  }
}
@media (max-width: 425px) {
  .footer__map {
    max-width: 280px;
    max-height: 140px;
  }
  .footer__feedback-inp {
    width: 280px;
  }
  .nav__list-item {
    width: 80%;
  }
  .nav__burger {
    display: block;
    display: flex;
  }
  .nav__contant-link {
    display: none;
  }
  .header__burger {
    margin-right: 0;
  }
  .nav__list {
    padding: 20px 0;
  }
  .nav__list-item {
    padding: 20px 40px;
  }
  .nav__contact-burger {
    color: #000000;
  }
  .header__bottom {
    width: 100%;
  }
  .header__text-top {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }
  .header__text-bottom {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
  }
  .header__block-reserve {
    flex-direction: column;
    align-items: center;
  }
  .header__reserve-items {
    margin-right: 0;
    width: 70%;
  }
  .header__reserve-btn {
    width: 180px;
    margin: 0 auto;
    padding: 16px 22px;
    font-size: 17px;
    line-height: 20px;
  }
  .menu__block {
    flex-direction: column;
  }
  .menu__block-names {
    width: 100%;
  }
  .section {
    padding-bottom: 80px;
  }
  .menu__block-images {
    display: none;
  }
  .slider {
    padding-top: 80px;
  }
  .swiper-text {
    font-size: 12px;
    line-height: 20px;
  }
  .swiper-title {
    font-size: 20px;
    line-height: 28px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .swiper-name {
    font-size: 16px;
    line-height: 24px;
  }
  .wrapper__block {
    flex-direction: column;
  }
  .wrapper__info-text {
    margin-bottom: 20px;
  }
  .wrapper__img {
  }
  .wrapper__block-info {
    margin-left: 40px;
  }
  .wrapper__block-img {
    margin: 0 auto;
    width: 80%;
    height: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer__feedback-title {
    font-size: 26px;
    line-height: 36px;
  }
  .footer__feedback-inp {
    font-size: 14px;
    line-height: 24px;
    padding: 0 13px;
    width: 280px;
    height: 60px;
    border: 1px solid #cccccc;
  }
  .footer__button {
    padding: 14px 64px;
    font-size: 14px;
  }
  .footer__bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
  }
  .footer__reserve-items {
    width: 100%;
  }
  .nav {
    margin-right: 0;
  }
  .nav__logo-img {
    width: 80%;
    height: 80%;
  }
  .slider {
    padding-right: 0%;
  }
  .pop__up-close {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
  }
}
@media (max-width: 375px) {
  .header__reserve-items {
    margin-right: 0;
    width: 90%;
  }
}
